@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black font-normal;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    font-size: 18px;
  }

  .tonal-shift-via-opacity {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
  }
}
